In [1]:
import joblib
import pandas as pd

In [2]:
model = joblib.load('/content/XGBoost_model_prediction.pkl')

In [3]:
novo_imovel = pd.DataFrame([{
    'Amount': 5000000.0,
    'Bathroom': 2.0,
    'Balcony': 1.0,
    'Floor Number': 5.0,
    'Total Number': 10.0
}])

novo_imovel.head()

      Amount  Bathroom  Balcony  Floor Number  Total Number
0  5000000.0       2.0      1.0           5.0          10.0

In [8]:
pred = model.predict(novo_imovel)
print(f'Preço previsto por m²: R${pred[0]:,.2f}')

Preço previsto por m²: R$4,439.21

In [11]:
amount = 5000000.0
preco_por_m2 = pred[0]
area_m2 = amount / preco_por_m2

print(f"Área estimada do imóvel: {area_m2:.2f} m²")

Área estimada do imóvel: 1126.33 m²